<div class="modal">
  <a class="modal__close"> X </a>
  <div class="modal__wrapper-modal-content">
    <div> placeholder modal content </div>
  </div>
</div>
<button class="modal__trigger"> Open Modal </button>
