<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Quattrocento" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/63f44a7836.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/javascripts/paperfold.js"></script>
  </head>
  <body>
    <div class="modal">
      <a class="modal__close"> X </a>
      <div class="modal__wrapper-modal-content">
        <div class="modal__content">
          <h1 class="modal__title"> About EWIII </h1>
          <div class="copy copy-modal">
            Eugene Weston III, my maternal grandfather, was a third-generation architect who designed some really beautiful midcentury homes. When when I discovered a yellowing tri-fold pamphlet from the mid-50's describing his services, a lightbulb went off&#58; what if it was recreated word for word, film grain by film grain, but as a responsive web page? Here are some images of the original pamphlet:
          </div>
          <img class="modal__image modal__image--top" src="https://s3-us-west-2.amazonaws.com/ew-iii/original-1.jpg">
          <div class="modal__wrapper-images-bottom">
            <img class="modal__image modal__image--bottom" src="https://s3-us-west-2.amazonaws.com/ew-iii/original-2.jpg">
            <img class="modal__image modal__image--bottom" src="https://s3-us-west-2.amazonaws.com/ew-iii/original-3.jpg">
          </div>
          <div class="copy copy-modal">
            <strong>NB:</strong> I'm pretty sure the photographs were taken by Julius Shulman, so all credit for these beautiful images goes to him and his estate.
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-main-content">
      <div class="main-content">
        <div class="content--landing">
          <!-- 1 - Intro -->
          <div class="section section--intro">
            <div class="subsection subsection--50pct">
              <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-1L.jpg'/>
            </div>
            <div class="subsection subsection--50pct">
              <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-1R.jpg'/>
            </div>
          </div>
          <div class="section section--medium-collapse">
            <div class="section--intro__title-wrapper">
              <div class="section--intro__title__L serif">
                Introducing
              </div>
            </div>
            <div class="section--intro__title-wrapper">
              <div class="section--intro__title__R title">
                The work and services of:
                <button class="button button--fold"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="content--foldable">
          <!-- 2 - EW III reveal -->
          <div class="section section--alt section--mobile-collapse" data-section="foldable-first">
            <div class="subsection subsection--40pct">
              <div class="copy-wrapper">
                <div class="serif title title--section-2">
                  Eugene Weston
                </div>
                <p class="copy copy--section-2">
                  The photographs included in this brochure cover a selection of homes
                  we have planned and built, in Southern California during the past
                  10 years. They illustrate some of the possibilities and solutions
                  available within the contemporary idiom.
                </p>
              </div>
            </div>
            <div class="subsection subsection--60pct">
              <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-2.jpg'/>
            </div>
          </div>
          <!-- 3 - top-down rendering -->
          <hr class="hr--50pct" />
          <div class="section section--mobile-collapse">
              <div class="subsection subsection--60pct subsection--section-3">
                <div class="underlay-image-wrapper">
                  <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-3-transparent.png'/>
                </div>
              </div>
              <div class="subsection subsection--40pct">
                <div class="copy-wrapper">
                  <div class="copy">
                    This plan, though compact, was developed for a growing family.
                    Entrance is through an enclosed garden which doubles as an
                    intimate view area from both the living room and master bedroom.
                    The children's wing incorporates an inside play area for the
                    younger years and can be divided into two bedrooms when the
                    need arises, and although adjacent to the parents' area a
                    separation provides necessary privacy.
                  </div>
                  <div class="copy">
                    These are but a few of the features in this plan which indicate
                    some of the many possibilities avialable to satisfy a particular
                    need.
                  </div>
                </div>
              </div>
          </div>
          <hr class="hr--50pct" />
          <!-- 4 - Interior images -->
          <div class="section section--alt section--mobile-collapse section--thirds">
              <div class="subsection subsection--33pct" data-thirds="A-img">
                <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-4L.jpg'/>
              </div>
              <div class="subsection subsection--33pct" data-thirds="B-copy">
                <div class="copy-wrapper">
                  <div class="copy">
                    All these homes were planned for individual clients on varying sites
                    from sea to hillside, and reflect the site conditions as well as
                    the owner's requirements. A process of employing different material
                    combinations and space relationships has created a mood in each
                    example to fulfill a more sympathetic relationship between
                    the owner and their home.
                  </div>
                </div>
              </div>
              <div class="subsection subsection--33pct" data-thirds="C-img">
                <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-4R.jpg'/>
              </div>
          </div>
          <hr class="hr--50pct" />
          <!-- 5 - full-width image  -->
          <div class="section">
            <div class="subsection subsection--100pct">
              <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-5.jpg'/>
            </div>
          </div>
          <hr class="hr--50pct" />
          <!-- 6 -final pamphlet section -->
          <div class="section section--mobile-collapse" data-section="foldable-last">
            <div class="subsection subsection--50pct">
              <div class="copy-wrapper">
                <p class="copy copy--final">
                  Our combined planning and construction service offers the advantage
                  of a single responsibility for both phases of building and permits
                  the important coordination between the plans and the construction budget.
                  <br />
                  <br />
                  Inquiries are cordially invited.
                </p>
                <div class="wrapper--final">
                  <div class="title title--final serif">
                    Eugene Weston
                  </div>
                  <button class="button button--final">
                    <a href="http://articles.latimes.com/2012/feb/12/local/la-me-eugene-weston-20120212" class="button--final__link">
                      <i class="fa fa-circle-thin fa-3x button--final__icon" aria-hidden="true"></i>
                    </a>
                  </button>
                  <button class="button button--final">
                    <a href="http://www.independent.com/obits/2012/feb/09/eugene-weston-iii-aia/" class="button--final__link">
                      <i class="fa fa-square fa-3x button--final__icon" aria-hidden="true"></i>
                    </a>
                  </button>
                </div>
              </div>
            </div>
            <div class="subsection subsection--50pct" data-subsection="subsection--last">
              <img class='section__image' src='https://s3-us-west-2.amazonaws.com/ew-iii/ewIII-6.jpg'/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__left">
        <div class="copyright">
          <div class="copyright__text">Web design &#169 <a class="copyright-link" href="http://dadler.codes">Daniel Weston Adler</a>, 2017</div>
          <div class="copyright__text">Photography &#169 Julius Shulman (I think!), 1950's</div>
        </div>
      </div>
      <div class="footer__center">
        <a class="footer__link modal__trigger" href="#"><i class="fa fa-question fa-2x"></i></a>
      </div>
      <div class="footer__right">
        <a class="footer__link footer__link--hidden modal__trigger" href="#"><i class="fa fa-question fa-2x"></i></a>
        <a class="footer__link" href="http://www.github.com/danieladler"><i class="fa fa-github fa-2x"></i></a>
        <a class="footer__link" href="http://instagram.com/dadler"><i class="fa fa-instagram fa-2x"></i></a>
        <a class="footer__link" href="https://www.linkedin.com/in/daniel-adler-a45a5913/"><i class="fa fa-linkedin fa-2x"></i></a>
        <a class="footer__link" href="mailto:hello@dadler.codes"><i class="fa fa-envelope-o fa-2x"></i></a>
      </div>
    </div>
    <script src='/javascripts/main.js' type="text/javascript"></script>
  </body>
</html>
