<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/63f44a7836.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="main-content">
      <!-- 1 - Intro -->
      <div class="section section--intro">
        <div class="subsection--50pct">
          <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
        </div>
        <div class="subsection--50pct">
          <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
        </div>
      </div>
      <div class="section section--mobile-collapse">
        <div class="section--intro__title-wrapper">
          <div class="section--intro__title__L serif">
            Introducing
          </div>
        </div>
        <div class="section--intro__title-wrapper">
          <div class="section--intro__title__R title">
            The work and services of:
          </div>
        </div>
      </div>
      <!-- 2 - EW III reveal -->
      <div class="section section--alt section--mobile-collapse">
        <div class="subsection--40pct">
          <div class="copy-wrapper">
            <div class="serif title">
              Eugene Weston
            </div>
            <p class="copy">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="subsection--60pct">
          <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
        </div>
      </div>
      <!-- 3 - top-down rendering -->
      <div class="section section--tall section--mobile-collapse">
          <div class="subsection--60pct">
            <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
          </div>
          <div class="subsection--40pct">
            <div class="copy-wrapper">
              <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              <p class="copy">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </div>
      <!-- 4 - Interior images -->
      <div class="section section--alt section--mobile-collapse section--thirds">
          <div class="subsection--33pct" data-thirds="A-img">
            <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
          </div>
          <div class="subsection--33pct" data-thirds="B-copy">
            <div class="copy-wrapper">
              <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="subsection--33pct" data-thirds="C-img">
            <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
          </div>
      </div>
      <!-- 5 - full-width image  -->
      <div class="section">
        <div class="subsection--100pct">
          <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
        </div>
      </div>
      <!-- 6 -final pamphlet section -->
      <div class="section section--tall section--mobile-collapse">
        <div class="subsection--50pct">
          <div class="copy-wrapper">
            <p class="copy">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              <br />
              <br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="subsection--50pct">
          <img class='section__image' src='https://s3-us-west-2.amazonaws.com/adlerography/pacrim-2008/pacrim-2008-1.jpg'/>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__left">
        <span> &#169 <a class="copyright-link" href="http://dadler.codes">Daniel Adler</a>, 2017</span>
      </div>
      <div class="footer__right">
        <a class="footer__link" data-footer-link="email"></a>
        <a class="footer__link" href="http://www.github.com/danieladler"><i class="fa fa-github fa-2x"></i></a>
        <a class="footer__link" href="http://instagram.com/dadler"><i class="fa fa-instagram fa-2x"></i></a>
        <a class="footer__link" href="https://www.linkedin.com/in/daniel-adler-a45a5913/"><i class="fa fa-linkedin fa-2x"></i></a>
        <a class="footer__link" href="mailto:hello@dadler.codes"><i class="fa fa-envelope-o fa-2x"></i></a>
      </div>
    </div>
    <script src='/javascripts/main.js' type="text/javascript"></script>
  </body>
</html>
