body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

.serif {
  text-transform: uppercase;
  font-family: "Quattrocento";
  font-weight: bold;
}

.title,
.copy {
  padding: 10px;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .title,
  .copy {
    margin: 10px 0px;
  }
}

.title {
  font-size: 20px;
  letter-spacing: 2.25px;
}
@media (min-width: 1024px) {
  .title {
    font-size: 24px;
  }
}

.copy {
  font-size: 14px;
  font-family: "Montserrat", serif;
  letter-spacing: .25px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .copy {
    font-size: 18px;
  }
}

.copy-wrapper {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 20px;
}

.hr--50pct {
  width: 50%;
  margin: 40px auto;
}

.main-content {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  -ms-flex: 1;
      flex: 1;
}

.section {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
}

.section--alt {
  margin: 0;
}

@media (min-width: 320px) {
  .section--buffered {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .section--buffered {
    margin-bottom: 100px;
  }
}

.section--thirds {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.section--mobile-collapse {
  transition: 0.3s;
}
@media (min-width: 320px) {
  .section--mobile-collapse {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
@media (min-width: 661px) {
  .section--mobile-collapse {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.section--medium-collapse {
  transition: 0.3s;
}
@media (min-width: 320px) {
  .section--medium-collapse {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
@media (min-width: 661px) {
  .section--medium-collapse {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.subsection {
  transition: 0.3s;
}
@media (min-width: 320px) {
  .subsection {
    width: 100%;
  }
}

@media (min-width: 661px) {
  .subsection--40pct {
    width: 40%;
  }
}

@media (min-width: 661px) {
  .subsection--50pct {
    width: 50%;
  }
}

@media (min-width: 661px) {
  .subsection--60pct {
    width: 60%;
  }
}

.subsection--100pct {
  width: 100%;
}

.section__image {
  width: 100%;
  height: 100%;
}

.underlay-image-wrapper {
  position: relative;
}

.underlay-image-wrapper__underlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: skyblue;
  z-index: -1;
}

.section--intro {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.section--intro__title-wrapper {
  transition: 0.3s;
}
@media (min-width: 320px) {
  .section--intro__title-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .section--intro__title-wrapper {
    width: 50%;
  }
}

.section--intro__title__L {
  color: white;
  background-color: black;
  font-size: 36px;
  padding: 10px 0;
  letter-spacing: 3px;
}

.section--intro__title__R {
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 15px 0;
}

.section--intro__title__L,
.section--intro__title__R {
  text-align: center;
}

.title--section-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex: 1;
      flex: 1;
}
@media (min-width: 320px) {
  .title--section-2 {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .title--section-2 {
    margin-top: 50px;
  }
}

.copy--section-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex: 2;
      flex: 2;
  margin-bottom: 50px;
}
@media (min-width: 320px) {
  .copy--section-2 {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .copy--section-2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 661px) {
  .subsection--section-3 {
    -ms-flex-order: 1;
        order: 1;
  }
}

@media (min-width: 320px) {
  .subsection--33pct[data-thirds="A-img"] {
    display: none;
  }
}
@media (min-width: 818px) {
  .subsection--33pct[data-thirds="A-img"] {
    width: 33%;
    display: block;
  }
}

@media (min-width: 320px) {
  .subsection--33pct[data-thirds="B-copy"] {
    width: 100%;
  }
}
@media (min-width: 818px) {
  .subsection--33pct[data-thirds="B-copy"] {
    width: 33%;
  }
}

@media (min-width: 320px) {
  .subsection--33pct[data-thirds="C-img"] {
    width: 100%;
  }
}
@media (min-width: 818px) {
  .subsection--33pct[data-thirds="C-img"] {
    width: 33%;
  }
}

.copy--final {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .title--final {
    padding-bottom: 40px;
  }
}

.modal__wrapper-modal-content {
  height: 50%;
  width: 50%;
  background-color: lightgrey;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(26, 26, 26, 0.9);
}
.modal.active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.modal__trigger {
  width: 50px;
}

.modal__close {
  opacity: 0.8;
  background-color: #646464;
  color: #b7b7b7;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  padding: 2px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 999;
}
@media (max-width: 412px) {
  .modal__close {
    width: 50px;
    height: 50px;
    border-radius: 36px;
    font-size: 36px;
    line-height: 3.25rem;
  }
}
.modal__close:hover {
  background-color: grey;
  color: white;
}

.footer {
  height: 40px;
  z-index: 3;
  background-color: black;
  padding: 10px;
}

.footer__left,
.footer__right {
  color: white;
}

.footer__left {
  float: left;
}
@media (min-width: 320px) {
  .footer__left {
    font-size: 12px;
    margin: 12px 0;
  }
}
@media (min-width: 768px) {
  .footer__left {
    font-size: 16px;
    margin: 8px 0;
  }
}

.footer__right {
  float: right;
  margin: 5px 0;
}

.footer__link {
  color: white;
  transition: 0.3s;
}
.footer__link:visited {
  color: white;
}
.footer__link:hover {
  color: gold;
}
@media (min-width: 320px) {
  .footer__link {
    margin: 0 4px;
  }
  .footer__link i {
    font-size: 1.5em;
  }
}
@media (min-width: 412px) {
  .footer__link {
    margin: 0 10px;
  }
  .footer__link i {
    font-size: 2em;
  }
}

.copyright-link {
  font-family: "Quattrocento";
  text-decoration: none;
}
.copyright-link:visited {
  color: white;
}
.copyright-link:hover {
  color: gold;
}
