////////////// settings //////////////
// responsive settings
$small-screen: 320px;
$large-mobile: 412px;
$medium-screen: 768px;
$large-screen: 1024px;
$x-large-screen: 1194px;
$x-x-large-screen: 1440px;
// constants for spatial relationships
$footer-height: 40px;
$padding-margin-standard: 10px;
$min-height-section: 400px;
// z-indexes
$z-index-hero: 1;
$z-index-footer: 3;
$z-index-modal: 998;
$z-index-modal-close: 999;
// transitions
$common-transition: 0.3s;
// colors
$color-hover: gold;

body {
  margin: 0;
  padding: 0;
  min-width: $small-screen;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

////////////// typography //////////////

.serif {
  text-transform: uppercase;
  font-family: "Quattrocento";
  font-weight: bold;
}

.title,
.copy {
  padding: 10px;
  margin: 0 20px;
  transition: 0.3s;
}

.title {
  font-size: 20px;
  letter-spacing: 2.25px;

  @media(min-width: $large-screen) {
    font-size: 24px;
  }
}

.copy {
  font-size: 14px;
  font-family: "Montserrat", serif;
  letter-spacing: .25px;
  line-height: 1.5;

  @media(min-width: $large-screen) {
    font-size: 18px;
  }
}

.copy-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

////////////// main content //////////////

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

////////////// generic block/element/modifier classes //////////////

.section {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.section--alt {
  margin: 0;
}

.section--buffered {
  @media(min-width: $small-screen) {
    margin-bottom: 50px;
  }

  @media(min-width: $medium-screen) {
    margin-bottom: 150px;
  }
}

.section--tall {
  @media(min-width: $small-screen) {
    margin: 40px 0;
  }

  @media(min-width: $medium-screen) {
    margin: 100px 0;
  }
}

.section--thirds {
  justify-content: space-between;
}

.section--mobile-collapse {
  transition: 0.3s;

  @media(min-width: $small-screen) {
    flex-direction: column;
  }

  @media(min-width: $medium-screen) {
    flex-direction: row;
  }
}

.subsection--33pct {
  @media(min-width: $medium-screen) {
    width: 33%;
  }
}

.subsection--40pct {
  @media(min-width: $medium-screen) {
    width: 40%;
  }
}

.subsection--50pct {
  @media(min-width: $medium-screen) {
    width: 50%;
  }
}

.subsection--60pct {
  @media(min-width: $medium-screen) {
    width: 60%;
  }
}

.subsection--100pct {
  width: 100%;
}

.section__image {
  width: 100%;
  height: 100%;
}

.underlay-image-wrapper {
  position: relative;
}

.underlay-image-wrapper__underlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: skyblue;
  z-index: -1;
}

////////////// 1 - intro classes //////////////

.section--intro {
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.section--intro__title-wrapper {
  transition: 0.3s;

  @media(min-width: $small-screen) {
    width: 100%;
  }

  @media(min-width: $medium-screen) {
    width: 50%;
  }
}

.section--intro__title__L {
  color: white;
  background-color: black;
  font-size: 36px;
  padding: 10px 0;
  letter-spacing: 3px;
}

.section--intro__title__R {
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 15px 0;
}

.section--intro__title__L,
.section--intro__title__R {
  text-align: center;
}

////////////// 2 - EW III Reveal classes //////////////

.title--section-2 {
    align-self: flex-start;
    flex: 1;
    margin-top: 20px;
}

.copy--section-2 {
  align-self: center;
  flex: 2;
  margin-bottom: 50px;
}

////////////// 3 - Top-down Rendering classes //////////////
////////////// 4 - Interior Images classes //////////////
.subsection--33pct[data-thirds="A-img"] {
  @media (max-width: $medium-screen) {
    // TBD
  }
}

.subsection--33pct[data-thirds="B-copy"] {
  @media (max-width: $medium-screen) {
    // order: 1
  }
}

.subsection--33pct[data-thirds="C-img"] {
  @media (max-width: $medium-screen) {
    display: none;
  }
}
////////////// 5 - Full-width Image classes //////////////
////////////// 6 - Final Pamphlet Section classes //////////////

.copy--final {
  padding-bottom: 50px;
}

.title--final {
  width: 100%;

  @media(max-width: $medium-screen) {
    padding-bottom:40px;
  }
}

////////////// modal //////////////
.modal__wrapper-modal-content {
  height: 50%;
  width: 50%;
  background-color: lightgrey;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-modal;
  background-color: hsla(0, 0%, 10%, 0.9);

  &.active {
    // display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal__trigger {
  width: 50px;
}

.modal__close {
  @media(max-width: $large-mobile) {
    width: 50px;
    height: 50px;
    border-radius: 36px;
    font-size: 36px;
    line-height: 3.25rem;
  }

  opacity: 0.8;
  background-color: rgb(100, 100, 100);
  color: rgb(183, 183, 183);
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  padding: 2px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: $z-index-modal-close;

  &:hover {
    background-color: grey;
    color: white;
  }
}

////////////// footer //////////////

.footer {
  height: $footer-height;
  z-index: $z-index-footer;
  background-color: black;
  padding: $padding-margin-standard;
}

.footer__left,
.footer__right {
  color: white;
}

.footer__left {
  float: left;
  margin: 8px 0;
}

.footer__right {
  float: right;
  margin: 5px 0;
}

.footer__link {
  color: white;
  transition: 0.3s;

  &:visited {
    color: white;
  }

  &:hover {
    color: $color-hover;
  }

  @media(min-width: $small-screen) {
    margin: 0 4px;
  }

  @media(min-width: $medium-screen) {
    margin: 0 10px;
  }
}

.copyright-link {
  font-family: "Quattrocento";
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    color: $color-hover
  }
}
